@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  overflow-x: hidden;
  font-family: Roboto;
}

/* Base styles for the form element */
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30vh;
}

/* Media query for screens smaller than 768px */
@media only screen and (max-width: 767px) {
  form {
    width: 90vw;
  }
}

/* Media query for screens between 768px and 1024px */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  form {
    padding: 15px;
    width: 50vw;
  }
}

/* Media query for screens larger than 1024px */
@media only screen and (min-width: 1025px) {
  form {
    padding: 20px;
    width: 50vw;
  }
}
