.tabHolder {
  display: flex;
  background: #28282b;
  width: 100vw;
  align-items: center;
  padding: 1rem;
  padding-bottom: 10px;
  font-size: 1.2rem;
}
.tabs {
  font-weight: bold;
  background-color: "red";
}
